* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_box {
    background: url(photo.jpg) ;
    height: 100vh;
    background-size: cover;
}

.btn_one {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    top: 50px;
}

.sidebar_menu {
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    width: 35vh;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5) ;
    left: -300px;
    transition: all 0.3s linear;
}

.sidebar_menu .logo {
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 15px;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5) ;
}

.logo a {
    position: absolute;
    color: white;
    text-decoration: none;
    left: 50px;
}
.btn_one i {
    position: absolute;
    left: 13px;
    top: 0px;
    font-size: 25px;
    cursor: pointer;
}

.btn_two {
    position: absolute;
    left: 220px;
    top: 20px;
    font-size: 20px;

}
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 70px;
}


.menu ul li {
    margin-top: 10px ;
    padding: 10px 20px;
}

.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

.sidebar_menu .social_media {
    position: absolute;
    width: 100%;
    top: 650px;
    left: 25px;
    padding: 15px;
    opacity: 0.5;
}



#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5) ;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    font-size: 25px;
}

#check:checked ~ .sidebar_menu {
    left: 0;
}
.btn_two:hover {
    font-size: 20px;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}


